pydantic
langgraph
langchain
langchain_groq
langchain_community
python-dotenv
langchain-core
langchain-openai
pypdf
bs4
arxiv
pymupdf
wikipedia
playwright
langchain-huggingface
faiss-cpu
langchain-google-genai
langchain-pinecone
cassio
langchain-astradb>=0.6,<0.7
pypdf
langchain_experimental
langchain-tavily
yfinance
xmltodict
python-docx
fpdf

autogen-agentchat
autogen-ext
autogen-core
autogen-ext[docker]
